<div class="card-section">

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://i1.sndcdn.com/avatars-BA9txjUQBAStvr89-QK3czA-t500x500.jpg">
  <div class="card-body">
    <p class="card-text">{{days.SUNDAY}}</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="">
  <div class="card-body">
    <p class="card-text">{{days.MONDAY}}</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="">
  <div class="card-body">
    <p class="card-text">{{days.TUESDAY}}</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="">
  <div class="card-body">
    <p class="card-text">{{days.WEDNESDAY}}</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="">
  <div class="card-body">
    <p class="card-text">{{days.THURSDAY}}</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="">
  <div class="card-body">
    <p class="card-text">{{days.FRIDAY}}</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://play-lh.googleusercontent.com/aKayPxyrju6kJ8E8OcYFXREPwGvfnp3vBj_oslZP0_yhCUfoN7R9KhH3b6Tea390y8M" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{days.SATURDAY}}</p>
  </div>
</div>

</div>
